# Ignore Python virtual environments
venv/
.env/

# Ignore compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore data and cache files
*.log
*.tmp
*.cache
*.sqlite
*.db

# Ignore generated directories
models/
current/
data/

# Ignore OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# .NET build files
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.userprefs
*.DotSettings.user